body{
	text-align: center;
	background-color: black;
}

body #header{
	background-color: dimgrey;
	color: lightgrey;
}

body #nav{
	display: block;
	width:1000%;
	height: 30px;
	background-color:green;
	color: antiquewhite;
	z-index:1;
}

body #nav.fixed{
	position: fixed;
	top:0px;
}

body #nav p{
	margin: 0px;
	display: inline;
}

body #main-content .item-block{
	position:relative;
	display: inline-block;
	width:150px;
	height:200px;
	margin: 5px;
	background-color: black;
}

body #main-content .item-block img
{
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	width:150px;
	height:200px;
}

body #main-content .item-block h4{
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: darkseagreen;
	margin:0px;
}